/***********
 * cl
 **********/

span.select-items {
    color: #0069d9;
    cursor: pointer;
}

span.select-items:hover {
    opacity: 0.7;
}

.number-input {
    text-align: right;
    width: 50px;
}

.note-popover.popover {
    top: 100px !important;
    left: 0 !important;
}

.helper-pl-7-per {
    padding-left: 7%;
}
